<h1>My first angular app{{title}}</h1> <!--Inline data binding (Interpolation)-->
<p> No Of Rooms </p>
<div [innerText] = "numberOfRooms" [hidden] = "hideRooms  "></div> <!--Property data binding(Property Binding)-->
{{'TotalRoom: ' + room?.totalRooms ?? 'No Room'}}
<!-- <div *ngIf = "room.availableRooms > 0"> <structural directive, using the hidden property will hide the DOM element 
  but it will still be there which causes performance issues this can be resolved vy using *ngIf directive -->
    <!-- Rooms List
</div> -->
<!--{{roomList|json}} Json Pipe-->
<div [ngStyle] = "{'color': room.availableRooms > 0 ? 'green' : 'red'}"> 
    Rooms List
</div>
<div class="table">
<app-rooms-list [rooms] = "roomList" (selectedRoom)="selectedRoom($event)"></app-rooms-list> <!--Child Component -->
</div>
<button (click) = "toggle()">Toggle</button> <!--Event data binding(Event Binding)-->