<h1>My first angular app{{title}}</h1> <!--Inline data binding (Interpolation)-->
<p> No Of Rooms </p>
<div [innerText] = "numberOfRooms" [hidden] = "hideRooms  "></div> <!--Property data binding(Property Binding)-->
{{'TotalRoom: ' + room?.totalRooms ?? 'No Room'}}
<!-- <div *ngIf = "room.availableRooms > 0"> <structural directive, using the hidden property will hide the DOM element 
  but it will still be there which causes performance issues this can be resolved vy using *ngIf directive -->
    <!-- Rooms List
</div> -->
<!--{{roomList|json}} <!--Json Pipe-->
<div [ngStyle] = "{'color': room.availableRooms > 0 ? 'green' : 'red'}"> 
    Rooms List
</div>
<table>
  <tr>
    <th>Index</th>
    <th>Even/Odd</th>
    <th>Room Number</th>
    <th>Room Type</th>
    <th>Room Price</th>
    <th>Room Amenities</th>
    <th>CheckIn Time</th>
    <th>CheckOut Time</th>
    <th>Rating</th>
  </tr>
  <tr 
  [ngClass]="e ? 'even' : 'odd'"
  *ngFor="let room of roomList | slice : 0:3; let e = even; let o = odd; let i = index">
    <td>{{i| percent}}</td>
    <td>{{e ? "Even" : "Odd"}}</td>
    <td>{{room.roomNumber}}</td>
    <td>{{room.roomType}}</td>
    <td>{{room.price | currency : 'INR'}}</td>
    <td>{{room.amenities | titlecase}}</td>
    <td>{{room.checkInTime | date : 'dd/MM/yyyy'}}</td> <!--Date Pipe Example-->
    <td>{{room.checkOutTime | date : 'short'}}</td> <!--Date Pipe Example-->
    <td>{{room.ratings | number : '1.1-1'}}</td>
    >

  </tr>
</table>
<button (click) = "toggle()">Toggle</button> <!--Event data binding(Event Binding)-->